extends /layouts/default.pug

block content
  article
    h2 Subscribe to my newsletter

    p
      |I don't have a newsletter. But if enough people
      |share their email in the form below, I'd gladly consider
      |sending out every week a list of 5 things I think are worth sharing — 
      |interesting articles, new blog posts, and cool ideas straight to your inbox.

    p It’s free. No spam. Unsubscribe whenever you want.

    include /components/newsletter-form.pug
