extends /templates/layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 The Wizard of XOR

  article.lh-copy
    p.mt0 Welcome to the early days of this project. 

    p Design principles:
      ul
        li Keep challenges short and simple
        li Reverse engineer, study, craft input, find flag
        li Solving the challenge proves you understand the topic
        li No infrastructure, just a smol HTML/CSS/JS website

    p You can find the first challenge 
      a(href="/xor/2024/001") here
