html, body
  font-size: 20px
  min-height: 100vh

body
  overflow-y: scroll

.container
  width: 100%
  max-width: 960px
  
.t1
  font-size: 2vh

article
  max-width: 72ex

pre
  code
    font-size: 0.8rem
    background-color: #131313
    color: #ffffff
    border-radius: 3px
    display: inline-block
    padding-top: 0.75rem
    padding-bottom: 0.75rem
    padding-left: 1.5rem
    padding-right: 1.5rem
    width: 100%
    
#profile-picture
  // width: 12rem

@import 'style/_navbar.styl'