html, body
  font-size: 20px

html, body, #__app, #__layout
  min-height: 100vh

.__layout-parent 
  min-height: 100vh
  
.container
  width: 100%
  max-width: 960px

article
  max-width: 80ex

pre
  code
    background-color: #131313
    color: #ffffff
    border-radius: 3px
    display: inline-block
    padding-top: 0.75rem
    padding-bottom: 0.75rem
    padding-left: 1.5rem
    padding-right: 1.5rem
    width: 100%
