extends /layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 Security consulting services

  article.lh-copy
    p 
      a.link(href="/services/security-advisor")
        | Security Advisor Retainer
      |  — What if you could hire an independent advisor 
      | to help you with the strategy and planning of your security practices?
      | Instead of reinventing the wheel, you can focus on building your product, knowing 
      | that you are well-equipped to manage security.
    p 
      //- a(href="/services/security-assessments")
      strong 
        | Security Assessments
      |  — An independent evalution of your present security program.
      | Identification of key assets and security risks, analysis of your existing
      | security procedures and systems, and development of recommendations for cost-effective ways in which security of your systems can be improved.
    p 
      //- a(href="/services/security-planning")
      strong
        | Security Strategy Planning
      |  — Planning of security controls for your cloud-based software shop. Working closely with your product and engineering staff, I help you design systems that are safe and can be cost-effectively managed from a security perspective. 
    p 
      //- a(href="/services/security-design-reviews")
      strong
        | Security Design Review
      |  — A review of product, architectural, and engineering documents prior to 
      | development to see that all security requirements have been properly 
      | included in the design. Access control, logging, monitoring, and encryption are all examined as a part of this review process.  
    p 
      //- a(href="/services/security-training")
      strong
        | Security Training
      |  — Develop training programs and conduct security awareness training for 
      | employees and managers. 
      br 
      | Provide specialized training to product managers, 
      | system administrators, and software engineers.

    h2 Schedule a free conversation

    p 
      | Do you think this might be right for you?
    
    p
      | Let's talk.

    p
      a(href="https://savvycal.com/jonathandupre/chat") Choose a time
      |  and we can discuss your situation in more detail.

