extends /templates/layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 Security consulting services

  article.lh-copy

    p.mt0.bg-blue.white.pv2.ph2.br2.tc Please note that I will not have space for new clients until 2024. 
      br
      | In the meantime, consider working with  
      a.white(href="https://cloudsecuritylabs.io" target="_new") Cloud Security Labs
      |.

    p I work with owners and senior executives of technology startups. My clients operate out of Canada, the US, the UK and France, and usually have between 10 and 500 employees.

    .b--blue.bw2.pv2.mv3
      strong Managed Security
      |  — Done-for-you security projects. Just sign the approvals and give me access to your team for interviews and conversations.
      br
      small.b.mt2.db Starting at CA $8K/mo. Minimum 3 months commitment. Spots are limited.

    .b--blue.bw2.pv2.mv3
      strong Security Assessment
      |  — I evaluate some components in your security architecture. This could mean the identification of key assets and security risks, an analysis of your existing procedures, or the development of recommendations for cost-effective improvements.
      br
      small.b.mt2.db Starting at CA $3K. 3 week scopes. Includes an assessment report.
    
    .b--blue.bw2.pv2.mv3
      strong Security Training
      |  — Hands-on security training for employees and managers. I help your development team learn about product security, secure development, and incident response. Lessons alternate with practical exercises. Exercises involve solving practical challenges in a virtual lab environment. 
      br
      small.b.mt2.db  Starting at CA $2K per participant. Over 3 days.

    h2 Schedule a short conversation

    p Do you think this might be right for you? Let's talk.

    p If you don't find a package that fits, I might be able to create the right engagement for your needs.

    p
      a(href="https://savvycal.com/jonathandupre/chat") Choose a time
      |  and we can discuss your situation in more detail.


    h2 Testimonials

    blockquote.mt0
      p Stellar consultant who is truly there to help his clients. He always goes beyond the call of duty.

    blockquote 
      p 
        | Jonathan is brilliant in a particular way I notice: He can take
        | complex knowledge and break it down into simple, understandable language. He simplifies complexity and complexifies simplicity,
        | wherever the natural direction is for knowledge to become more
        | 'known', alive, shared. 
      p He listens with this skill as well, which 
        | makes him able to focus and expand people simultaneously. 
        | It's a beautiful gift.

    blockquote 
      p 
        |Anybody can claim to be solution oriented, resourceful or creative. 
        | However, it doesn't mean much if you don't "get it" first. Getting
        | it means having the curiosity to understand the industry, the clients, the technology, the risks, the deadlines, etc. This is a
        | necessity before channeling your thoughts and actions toward a
        | greater outcome.
      p To put it in simple words, well, he "gets it".
