extends /layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 Services

  article.lh-copy
    p 
    
    ul.list.pl0
      li 
        a(href="/services/advisory") Advisory program
      li 
        a(href="/services/workshops") Workshops
      li 
        a(href="/services/single-call") Single call
      li
        a(href="/services/custom") Custom engagement
