extends /layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1.mb3 Teaching 

      br

  article.lh-copy
    h2.mv0.f4 1:1 Coaching
    small.db.mb3 USD $3K/mo

    p Maybe you are running the security program at your startup. 
     |Or maybe you are trying to break into the field and need some guidance.
     |I won't have all the answers. But you will benefit from my personal experience,
     |having gone through these challenges myself before.

    h2.mb0.f4 Workshops
    small.db.mb3 USD $2K per participant. Two-days long.

    p If you think your team could benefit from learning a new set of skills, 
      | you might be interested in the following the small group workshops:

    ul
      li Startup Security 101 (For founders)
      li Flying solo: Managing Startup Security On Your Own (For new infosec leaders) 
    
    h2.mb0.f4 1:1 Call
    small.db.mb3 USD $500/call

    p If you can prepare all of your questions and topics of conversations, 
     | maybe we can address your challenges in a single call. 



    h2 Schedule a free conversation

    p 
      | Do you think this might be right for you?
    
    p
      | Let's talk.

    p
      a(href="https://savvycal.com/jonathandupre/chat") Choose a time
      |  and we can discuss your situation in more detail.

