extends /templates/layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 About 

  article.lh-copy
    figure.mh0
      img.h4.ba.bw1.b--moon-gray(src="/images/jonathandupre-profile.jpg")
    p 
      | My name is Jonathan Dupré. I'm cybersecurity advisor and educator. I help software startups design software with security in mind.
    
    p
      | I built my web security expertise over more than 10 years through various roles, such as software developer, DevOps engineer, and security manager. I have strong experience in the Canadian fintech space.

    p 
      | As an independent advisor, I don't sell security products, equipment, or implementation.
      | This allows me to give you advice that is always 
      | neutral and aligned with your best interests.

    p
      | I hold a CISSP (Certified Information Systems Security Professional) and the AWS Certified Security - Specialty certification. 

    h2 Recent clients
    
    p
      | My previous clients include DeFi, Fintech, and technology firms such as:

    ul
      li
        | A 
        strong financial advisor 
        | mobile app with a $60M exit
      li 
        | An innovative ad 
        | exchange 
        | with a 
        strong successful exit
      li 
        | A leading Canadian 
        strong crypto exchange
      li 
        | A top 10 market cap 
        strong stablecoin 
        | project
      li An established Canadian 
        strong cybersecurity 
        | company
      li A 
        strong global 
        | (23 countries) education network


    h2 Testimonials

    blockquote.mt0
      p 
        | Jonathan is brilliant in a particular way I notice: He can take
        | complex knowledge and break it down into 
        span.b simple, understandable language
        |. He simplifies complexity and complexifies simplicity,
        | wherever the natural direction is for knowledge to become more
        | 'known', alive, shared. 
        span.b He listens
        |  with this skill as well, which 
        | makes him able to focus and expand people simultaneously. 
        | It's a beautiful gift.

    blockquote 
      p 
        |Anybody can claim to be 
        span.b solution oriented, resourceful or creative
        | . 
        | However, it doesn't mean much if you don't "get it" first. Getting
        | it means having 
        span.b the curiosity to understand the industry
        |, the clients, the technology, the risks, the deadlines, etc. This is a
        | necessity before channeling your thoughts and actions toward a
        | greater outcome.
      p 
        | Already in our first meetings, you can see the gears spinning in his
        | mind. That's how you know someone is invested, that they are thinking
        | instead of spitting out the latest buzzwords. It is such a relief to
        | work with the kind of person you can rely on
        |. This is the very basis of 
        span.b building a trust relationship.
      p To put it in simple words, well, Jonathan, he "gets it".