extends /templates/layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 Contact

  article.lh-copy 
    p.mt0 If you would like to learn more about my services, please contact me. I would be be happy to talk with you about your security needs at no cost or obligation.

    p If I believe that my services would benefit you, I would be glad to provide you with a written consulting services proposal. This proposal will outline my proposed scope of work, my schedule to complete the work, and give a firm estimate of the costs for consulting fees and expenses.

    p If I don't think I can be of help to you, I will be happy to refer you to other consultants or service providers who may be able to be of assistance.

    p You can 
      a(href="mailto:%68%65%6c%6c%6f%40%6a%6f%6e%61%74%68%61%6e%64%75%70%72%65%2e%63%6f%6d") 
        | contact me by email
      |, or 
      a(href="https://savvycal.com/jonathandupre/chat") book a call in my calendar
        |. 
