extends /templates/layouts/default.pug

block content
  article.lh-copy
    h1 🪓 #{ post.data.title }
    | !{ post.content }
    
    script(defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js")
    script(src=`/js/xor/components/${post.data.slug.replaceAll('-', '_')}.js` type="module")
