extends /templates/layouts/default.pug

block content
  h1 Research

  p These are some resources I created or curated.

  h2 Games

  ul.lh-copy
    li.mb3.mb0-ns
      a.link.ttc(href="/xor")
        | The Wizard of XOR
      span  - A new cybersecurity CTF game.

  h2 Articles

  p Sometimes, my blog posts are longer articles. Here are some highlights.

  ul.lh-copy
    li.mb3.mb0-ns
      a.link.ttc(href="/blog/recommendations-from-the-cyber-centre")
        | Recommendations from the Cyber Centre
      span  - The Canadian Centre for Cyber Security wants to raise awareness around Russian-backed cyber threat activity. I summarized their recommendations for you.
    li.mb3.mb0-ns
      a.link.ttc(href="/blog/a-primer-on-hipaa-for-startups")
        | A primer on HIPAA for startups
      span  - In March 2022, I spent a day reading through the HIPAA regulation and wrote a blog post about it.

  h2 Curated Content

  p I maintain these lists to help you find the right resource when you need it.

  ul.lh-copy
    li.mb3.mb0-ns
      a.link.ttc(href="/research/ctf-challenge-design")
        | CTF challenge design
      span  - Different perspectives on designing a good cyber security CTF exercise.
    li.mb3.mb0-ns
      a.link.ttc(href="/research/evm-security")
        | EVM Security
      span  - An overview of the EVM ecosystem from an information security management perspective.

  h2 Tools

  p These are some of the tools that I use to manage security programs.

  ul.lh-copy
    li.mb3.mb0-ns
      a.link.ttc(target="_new" href="https://docs.google.com/spreadsheets/d/1Y_VjjxP_vHf8oBYviWTUrZQv1PsyuFUOcEAcm99msVw/edit?usp=sharing")
        | Startup Security Register Template (Google Sheet)
      span  - A spreadsheet you can use to manage every aspect of your security program.
    li.mb3.mb0-ns
      a.link.ttc(
        target="_new" 
        href="https://docs.google.com/spreadsheets/d/1K7msQt-Asse6rx0nnUW-6Hm_-EfQMeWp3B5aSkzbqg8/edit\#gid=0") 
        | 2021 DeFi Hacks (Google Sheet)
      span  - A compilation of over 100 major hacks with their financial impact and links to an article describing it. 
