extends /layouts/default.pug

block content
  h1 Research
  
  article.tl
    figure.ml0
      img(src="/images/banner.png")
    h2.mt0 Kernel Quest (XOR)

    p XOR is my 
      strong theory of computation
      |  research project.
      br
      | It's an agent-based programing environment
      | that uses fantasy analogies 
      | to teach hacking skills.
