main.flex.justify-center.flex-auto.pv3
  .container.flex-auto.ph2
    block content
      p.tc.mt5
        | As of Wednesday afternoon (EST), January 16th 2019, 
        | this website is still under construction!
