script(async src="https://www.googletagmanager.com/gtag/js?id=UA-73566907-1")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-73566907-1');
