head
  title Jonathan Dupré

  meta(charset="utf8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(http-equiv="X-UA-Compatible" content="IE=Edge")
  meta(name="author" property="og:author" content="Jonathan Dupré")
  meta(name="description" property="og:description" 
    content=(post && post.data && post.data.description ? post.data.description : 'Web security advisor & educator'))
  <meta name="image" property="og:image" content="https://jonathandupre.com/images/meta-banner.jpg">

  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/favicon.ico" type="image/x-icon")
  link(rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css")
  link(rel="stylesheet" href="/style.css")
  link(rel="alternate" type="application/rss+xml" href="/rss")
  link(rel="alternate" type="application/atom+xml" href="/atom")

  script(src="https://cdn.usefathom.com/script.js" data-site="XSCMBBMZ" defer)
