nav.flex.justify-center.pv2.bg-black-90.white
  .container.flex.justify-between.pv1
    a.link.white.f3.fw6(href="/") Jonathan Dupré
    ul.list.flex.items-center.ma0.tr
      each item in navbar.items
        li.ml4
          a.white.link(href=item.route active-class="light-blue") 
            | #{ item.name }
