section.mt5.ba.ph3.bw1.b--moon-gray.f5.lh-copy
  p Every friday I send out an e-mail with updates and interesting links.
    br 
    | It’s free. No spam. Unsubscribe whenever you want.

  include /components/newsletter-form.pug