section.mt4.ba.ph3.bw1.b--moon-gray.f5.lh-copy
  h1.f4.mb0 I hope you found this valuable
  p.mt0 Every friday, I 
    a(href="https://www.getrevue.co/profile/dupre") send out an e-mail
    |  with updates and interesting links.
    br 
    | It's free. No spam. Unsubscribe whenever you want.
