extends /templates/layouts/default.pug

block content
  article.lh-copy
    small
    h1 Wizards of XOR
    h2 Challenge ##{ post.data.slug }
    | !{ post.content }
    
    a(href="/xor") ‹ Back to the index

    script(src=`/js/${post.data.url_path}.js`)
