extends /layouts/default.pug

block content
  article
    h2 #{ post.data.title }
    | !{ post.content }

    section.mt5.ba.ph3.bw2.b--black-90

      p I don't have a newsletter right now. 

      //- p Want to know when there's a new post on this blog?

      //- p Every friday I send out an e-mail with updates and interesting links. 

      //- include /components/newsletter-form.pug

