extends /layouts/default.pug

block content
  h2 Blog
  div
    ul.list
      each post in routes.blog
        li
          span #{ post.date }
          .dib.w2
          a.link(href='/blog/' + post.slug)
            | #{ post.title }
