extends /templates/layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 Security consulting services

  article.lh-copy

    p.mt0 I work with owners and senior executives of crypto and open finance startups. My clients usually have between 10 and 100 employees. Their engineering department deploys web services to cloud infrastructure, and most of them run financial operations. I've worked with firms from Canada, USA, UK, and France.

    .ba.b--blue.bg-blue.bw2.ph2.pv3.mv4.white
      strong Managed Security
      |  — I assess your current cybersecurity capabilities while documenting your organization, infrastructure, and applications. I help you understand your current posture and give you suggestions. 
      br
      |You decide which path you want to take. I coordinate your team and your vendors until the project is done.
      br
      small.b.mt2.db 12 weeks. CA$ 25K. Spots are limited.

    .ba.b--blue.bw2.ph2.pv3.mv4
      strong Security Assessment
      |  — An independent evalution of your present security program. Identification of key assets and security risks, analysis of your existing security procedures and systems, and development of recommendations for cost-effective ways in which security of your systems can be improved.
      br
      small.mt2.db 3 weeks. CA$ 7K. Includes an assessment report.
    
    .ba.b--blue.bw2.ph2.pv3.mv4
      strong Security Training
      |  — Hands-on security training for employees and managers. I help your development team learn about product security, secure development, and incident response. Lectures alternate with practical exercises. Lessons involve solving practical challenges in a virtual lab environment. 
      br
      small.mt2.db 3 days. CA$ 2K per participant. Scheduled twice a year.

    h2 Schedule a free 30-min conversation

    p Do you think this might be right for you? Let's talk.

    p If you don't find a package that fits, I might be able to create the right engagement for your needs.

    p
      a(href="https://savvycal.com/jonathandupre/chat") Choose a time
      |  and we can discuss your situation in more detail.
