<%- include('../includes/page-top.ejs', { 
  pageTitle: '404 - Page non trouvée'
}) %>
<section class="mb5">
  <article class="lh-copy">
    <p>
      La page que vous recherchez n'existe pas ou a été déplacée.
    </p>
    <p>
      <a href="/" class="link">Retour à l'accueil</a>
    </p>
  </article>
</section>
<%- include('../includes/page-bottom.ejs') %>
