extends /layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 Page Not Found

  article
    p Looks like you've followed a broken link or entered a URL that doesn't exist.
    p 
      a(href="/") Back to my site 
