extends /layouts/default.pug

block content
  article
    h2 Hi!

    p
    |I’m an independent software developer from Canada.
    
    p
    |Web development is my primary focus, but lately I've been doing more and 
    |more DevOps-related work.
