extends /templates/layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 About

  article.lh-copy
    figure.ml0.mt0.mb0.mr3.pt1.fl.pv0
      img.h5-ns.br1.pv1(src="/images/self-portrait.png")
    p.mv0 
      | My name is Jonathan Dupré. I'm a security advisor with an expertise in application and cloud security. I help tech executives build software with security in mind.
    
    p
      | I built my security expertise over more than 10 years through various roles, such as software developer, DevOps engineer, and security manager. I have strong experience in the Canadian fintech space.

    p 
      | As an independent advisor, I don't sell security products, equipment, or implementation. This allows me to give you advice that is always neutral and aligned with your best interests.

    p
      | I am a Certified Information Systems Security Professional (CISSP), and I hold the AWS Certified Security - Specialty
      | certification since 2019. 

    div.mv3.tc
      img.pa1.br1.w3.mr3(src="/images/cissp.png" style="width: 5rem;")
      img.pa1.br1.w3.mr3(src="/images/aws.png" style="width: 5rem;")

    h2 Previous clients

    p I work with owners and senior executives of technology startups. My clients operate out of Canada and the US, and have between 15 and 500 employees.
    
    p They have an engineering department that deploys web services to cloud infrastructure. They have a remote workforce and they leverage dozens of web apps.
    
    p Some of them run financial operations and must comply with AML/CFT regulations. Most of them want to be SOC 2 compliant and align their program with ISO 27001.
    
    p My previous clients include companies such as:

    ul
      li A financial services app with a $60M exit;
      li A market defining ad exchange with a successful exit;
      li A leading Canadian crypto exchange;
      li A top-10 market cap stablecoin project;
      li A global (23 countries) education network;
      li One of Canada's biggest retailer brands;
      li A handful of established Canadian cybersecurity and IT companies;
