extends /layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 About

  article.lh-copy
    figure.mh0
      img.w5(src="/images/jonathandupre-profile.jpg")
    p 
      | Jonathan Dupré is a Canadian cybersecurity advisor and educator.
    p
      | As a consultant, he helps software startups design software with security in mind.
      | Jonathan built his expertise over 10 years through various roles, such as software developer, DevOps engineer, and security manager.
    p
      | He holds both a CISSP, and the AWS Certified Security - Specialty certification. 
