extends /templates/layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1.mb2 About

  article.lh-copy
    figure.ml0.mt0.mb0.mr3.pt1.fl.pv0
      img.h5.br1.pv1(src="/images/jonathandupre.jpg")
    p.mv0 
      | My name is Jonathan Dupré. I'm a security advisor with an expertise in application and cloud security. I help tech executives build software with security in mind.
    
    p
      | I built my security expertise over more than 10 years through various roles, such as software developer, DevOps engineer, and security manager. I have strong experience in the Canadian fintech space.

    p 
      | As an independent advisor, I don't sell security products, equipment, or implementation. This allows me to give you advice that is always neutral and aligned with your best interests.

    p
      | I am a Certified Information Systems Security Professional (CISSP), which means I committed to fully support the (ISC)² Code Of Ethics. I also hold the AWS Certified Security - Specialty
      | certification since 2019. 

    div.mv4.tc.tl-ns
      img.w3.mr4(src="/images/cissp.png" style="filter: grayscale(100%);")
      img.w3.mr4(src="/images/aws.png" style="filter: grayscale(100%);")


    h2 Recent clients
    
    p
      | My previous clients include Fintech, DeFi, and other technology firms such as:

    ul
      li
        | A 
        strong financial advisor 
        | mobile app with a $60M exit
      li 
        | A leading Canadian 
        strong crypto exchange
      li 
        | A top 10 market cap 
        strong stablecoin 
        | project
      li 
        | An innovative ad 
        | exchange 
        | with a successful exit
      li An established Canadian cybersecurity company
      li A global (23 countries) education network
