extends /templates/layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 About

  article.lh-copy
    figure.ml0.mt0.mb0.mr3.pt1.fl.pv0
      img.h5-ns.br1.pv1(src="/images/self-portrait.png")
    p.mv0 
      | My name is Jonathan Dupré. I'm a security professional with an expertise in cloud security. I help tech executives deploy software with security in mind.
    
    p
      | I built my expertise over 10+ years through various roles, such as software developer, DevOps engineer, and security manager. Most of my professional experience was built at startups and as a freelancer.

    p
      | I am a Certified Information Systems Security Professional (CISSP), and I hold the AWS Certified Security - Specialty
      | certification since 2019. 

    div.mv3.tc
      img.pa1.br1.w3.mr3(src="/images/cissp.png" style="width: 5rem;")
      img.pa1.br1.w3.mr3(src="/images/aws.png" style="width: 5rem;")

    h2 Previous clients

    p I have worked with owners, senior executives, and managers at tech startups. My clients operate out of Canada and the US, and have between 15 and 500 employees.
    
    p They have an engineering department that deploys web services to cloud infrastructure. They have a remote workforce and they leverage dozens of web apps.
    
    p Some of them run financial operations and must comply with AML/CFT regulations. Most of them want to be SOC 2 compliant and align their program with ISO 27001.
    
    p My previous clients include companies such as:

    ul
      li A financial services app with a $60M exit;
      li A market defining ad exchange with a successful exit;
      li A leading Canadian crypto exchange;
      li A top-10 market cap stablecoin project;
      li A global (23 countries) education network;
      li One of Canada's biggest retailer brands;
      li A handful of established Canadian cybersecurity and IT companies;

    h2 Testimonials

    blockquote.mt0
      p Stellar consultant who is truly there to help his clients. He always goes beyond the call of duty.

    blockquote 
      p 
        | Jonathan is brilliant in a particular way I notice: He can take
        | complex knowledge and break it down into simple, understandable language. He simplifies complexity and complexifies simplicity,
        | wherever the natural direction is for knowledge to become more
        | 'known', alive, shared. 
      p He listens with this skill as well, which 
        | makes him able to focus and expand people simultaneously. 
        | It's a beautiful gift.

    blockquote 
      p 
        |Anybody can claim to be solution oriented, resourceful or creative. 
        | However, it doesn't mean much if you don't "get it" first. Getting
        | it means having the curiosity to understand the industry, the clients, the technology, the risks, the deadlines, etc. This is a
        | necessity before channeling your thoughts and actions toward a
        | greater outcome.
      p To put it in simple words, well, Jonathan "gets it".
