extends /layouts/default.pug

block content
  article
    h2 About

    p
      img.w5#profile-picture(src="jonathandupre-profile.png")

    p
    |I’m a software development consultant from Canada. 

    p 
    |Web development is my primary focus, but I also really enjoy writing tools 
    |for other developers. 