extends /layouts/default.pug

block content
  h2 Contact

  address
    |I am reachable at [first name] at diagonal dot sh.
    br
    |Most of my work is open source on 
    a(href="https://github.com/kareniel") GitHub
    |.
    br
    | I usually hang out on 
    a(href="https://twitter.com/Jonathan_Dupre") Twitter
    | and 
    a(href="https://freenode.net/") Freenode
    |  (feel free to DM me).
    br
    | My formal resume is available on 
    a(href="https://www.linkedin.com/in/jonathandupre") LinkedIn
    |. 
    br
    | And sometimes I post pictures on 
    a(href="https://instagram.com/Jonathan_Dupre") Instagram
    |.
