extends /layouts/default.pug

block content
  h2 Contact

  address.fs-normal
    p
      |For business inquiries, I am reachable at [first name] at diagonal dot sh. Find out more at [diagonal.sh](https://www.diagonal.sh)
    
    |Some of my work is open source on 
    a(href="https://github.com/kareniel") GitHub
    |.
    br
    | I usually hang out on 
    a(href="https://twitter.com/Jonathan_Dupre") Twitter
    | and 
    a(href="https://discord.gg/M2BfTDM") 
      span Discord 
      span.strike Freenode
    | (feel free to DM me)
    |.
    br
    | My formal resume is available as a  
    a(href="https://www.linkedin.com/in/jonathandupre") LinkedIn
    | profile. 
    br
    | And sometimes I post pictures on 
    a(href="https://instagram.com/Jonathan_Dupre") Instagram
    |, you are certainly welcome to take a look.
