<%- include('../includes/page-top.ejs', { 
  pageTitle: 'Contact'
}) %>
        <section class="mb5">
          <article class="lh-copy">
            <p>
              [Contenu de contact à ajouter]
            </p>
          </article>
        </section>
<%- include('../includes/page-bottom.ejs') %>
