<%- include('../includes/page-top.ejs', { 
  pageTitle: 'Contact'
}) %>
        <section class="mb5">
          <article class="lh-copy">
            
              Ça me fait toujours plaisir de rencontrer de nouvelles personnes.
            
            <p>
              Vous pouvez me contacter par courriel au hello [at] jonathandupre [point] com.
            </p>
          </article>
        </section>
<%- include('../includes/page-bottom.ejs') %>
