extends /layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 Security gets easier when you keep things simple

  article.lh-copy
    p 
      | You're a 
      strong web3 
      | founder looking to ensure your application is  
      strong as secure as expected
      |—ideally 
      strong without slowing down 
      | development.

    p 
      | You've been able to manage the details of your security program so far,
      | but your engineering team is growing and your infrastructure is getting more 
      strong complex.

    p
      | You take security very seriously and understand the importance of 
      strong putting the right systems in place.

    p
      | You believe in holding yourself to a high security standard but you also 
      | have other priorities, like 
      strong shipping features 
      | and 
      strong meeting KPIs. 

    p
      | What if you could hire 
      strong an independent advisor 
      | to help you with the strategy and planning of your security practices, so you can 
      strong focus on building 
      | your product, without putting your business at risk?

    h2 Does any of this sound like you?

    ol
      li You are growing, hiring, and building as fast as you possibly can but you also want to do things right the first time. 
      li You have strong technical people on your team but lack a person who is 
        strong dedicated to security  
        | processes.
      li You want to 
        strong empower 
        | your team to do their best work in an efficient yet 
        strong secure 
        | manner.
      li You're currently treating security initiatives as one-off 
        | projects—like audits or fixes—and not yet as 
        strong an ongoing process 
        | that is part of everything you do.
      li You have no 
        strong measurable 
        | way to assess how much total cyber risk you currently have and 
        | the potential impact on your business.

    h2 What if you could...

    ol
      li 
        | Have someone on your team who is a 
        strong dedicated expert 
        | to advise you on what, when,
        | and how to resource your information security efforts.
      li
        | Have confidence that your company is 
        strong staying on top 
        | of the latest security
        | threats, vulnerabilities and events that could impact your business.
      li 
        strong Scale 
        | cybersecurity within your organization 
        strong as you grow
        |, baking security in the DNA of your team.
      li Have an easy way to 
        strong track progress
        |, develop an 
        strong informed cybersecurity roadmap 
        | and establish priorities.
      li Forecast 
        strong realistic 
        | costs for improvement projects.
      li Have a 
        strong continuous 
        | and 
        strong accurate 
        | picture of your security posture.
      li Always have 
        strong up to date documentation 
        | of your security practices and standards.

    h2 My process

    p 
      | I use a 
      strong structured approach 
      | that will walk you through the factors
      | involved in making informed cybersecurity decisions. I help you implement
      | strategies that are 
      strong aligned with your mission, 
      | so that security can get out of the way and 
      strong enable your business 
      | to meet its goals securely.

    p 
      | As an independent advisor, I don’t sell security products, equipment, or implementation.
      | This allows me to give you advice that is always 
      strong neutral 
      | and 
      strong aligned with your best interests
      |.

    p Instead, I help you:
    ul
      li Inventory what you want to 
        strong protect.
      li Assess threats and vulnerabilities.
      li 
        strong Build systems 
        | and processes that make sure you meet the expected 
        strong security standards 
        | within a reasonable budget.
      li Hire 
        strong the right people 
        | to perform regular security audits.
      li Architect systems using 
        strong security by design 
        | (and document them).
      li Implement feedback mechanisms so that you can 
        strong trust but verify.

    h2 What you get

    p 
      | We review  
      strong every aspect 
      | of the security of your people, product, & operations. 
      | I suggest potential  
      strong strategies 
      | and we decide together on the best course of action for you to implement.

    ul
      li
        strong Weekly 1:1 advisory calls
      li 
        strong Monthly KPI review 
        | calls to discuss progress and 
        strong results.
      li 
        strong Private access 
        | to me for you and your team leads.
      li 
        strong Structured guidance 
        | to help you implement your security program.
      li A chance to influence the direction of my 
      strong security research.
      //- li Full access to my library of tools, frameworks, standards, baselines, and SOP templates.

    h2 Who I've worked with
    
    p
      | My previous clients include DeFi, Fintech, and technology firms such as:

    ul
      li
        | A 
        strong financial advisor 
        | mobile app with a $60M exit
      li 
        | An innovative ad 
        | exchange 
        | with a 
        strong successful exit
      li 
        | A leading Canadian 
        strong crypto exchange
      li 
        | A top 10 market cap 
        strong stablecoin 
        | project
      li An established Canadian 
        strong cybersecurity 
        | company
      li A 
        strong global 
        | (23 countries) education network

    h2 Pricing

    p 
      | Monthly retainers start at 
      strong CA$10K 
      | per month, adjusting for scope and program maturity. 

    p Fees are prepaid and non-refundable, sent with the materials that I'll request. 
      | Payments can be made via 
      strong credit card, 
      strong BTC, 
      | or 
      strong ETH. 

    h2 Testimonials

    blockquote.mt0
      p 
        | Jonathan is brilliant in a particular way I notice: He can take
        | complex knowledge and break it down into 
        span.selected simple, understandable language
        |. He simplifies complexity and complexifies simplicity,
        | wherever the natural direction is for knowledge to become more
        | 'known', alive, shared. 
        span.selected He listens
        |  with this skill as well, which 
        | makes him able to focus and expand people simultaneously. 
        | It's a beautiful gift.

    blockquote 
      p 
        |Anybody can claim to be 
        span.selected solution oriented, resourceful or creative
        | . 
        | However, it doesn't mean much if you don't "get it" first. Getting
        | it means having 
        span.selected the curiosity to understand the industry
        |, the clients, the technology, the risks, the deadlines, etc. This is a
        | necessity before channeling your thoughts and actions toward a
        | greater outcome.
      p 
        | Already in our first meetings, you can see the gears spinning in his
        | mind. That's how you know someone is invested, that they are thinking
        | instead of spitting out the latest buzzwords. It is such a relief to
        | work with the kind of person you can rely on
        |. This is the very basis of 
        span.selected building a trust relationship.
      p To put it in simple words, well, Jonathan, he "gets it".

    h2 Book a free conversation

    p 
      | Do you think this might be right for you?
    
    p
      | Let’s talk.

    p
      a(href="https://savvycal.com/jonathandupre/chat") Choose a time
      |  and we can discuss your situation in more detail.
