extends /layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 Some help with security stuff

  article.lh-copy

    p 
      | You're a 
      strong crypto/web3 
      | or fintech founder looking to ensure your
      | application is  
      strong as secure as possible
      |—ideally 
      strong without slowing down 
      | development.

    p 
      | You've been able to manage the details of your security program so far,
      | but your engineering team is growing and your infrastructure is getting more 
      strong complex.

    p
      | You take security very seriously and understand the importance of
      | getting it 
      strong right the first time.

    p
      | You believe in holding yourself to a high security standard but you
      | might have other priorities, like 
      strong agile product development 
      | and 
      strong rapid growth. 

    p
      | What if you could hire 
      strong a neutral advisor 
      | to handle the strategy,
      | planning, and oversight of your security practices so you can 
      strong focus on building 
      | your product and 
      strong growing your business
      |?

    h2 Does any of this sound like you?

    ol
      li You are growing, hiring, and building at the 
        strong fastest speed 
        | possible.
      li You have strong technical people on your team but lack a person who 
        strong specializes in security 
        | processes.
      li You hire developers of varying degrees of seniority and you want to 
        strong empower them 
        | to do their best work in an efficient yet 
        strong secure 
        | manner.
      li You’re currently treating security initiatives as one-off projects—like audits or fixes—and not 
        strong an ongoing process 
        | that is part of everything you do.
      li You have no 
        strong measurable 
        | way to assess how much total cyber risk you currently have.

    h2 What if you could...

    ol
      li 
        | Have someone on your team you can 
        strong trust 
        | to advise you on what, when,
        | and how to resource your information security efforts.
      li
        | Know that your company is 
        strong staying on top 
        | of the latest security
        | threats, vulnerabilities and events that could impact your business.
      li 
        strong Scale 
        | cybersecurity within your organization 
        strong as you grow
        | —not as an afterthought to be fixed later on.
      li Have an easy way to 
        strong track progress 
        | and develop an 
        strong informed cybersecurity roadmap
      li Forecast 
        strong realistic 
        | costs for improvement projects.
      li Have a 
        strong continuous
        |, 
        strong accurate 
        | picture of your security posture.
      li Always have 
        strong up to date documentation 
        | of your security practices and standards.

    h2 My process

    p 
      | I use a 
      strong structured approach 
      | that will walk you through the factors
      | involved in making informed cybersecurity decisions. I help you implement
      | strategies that are 
      strong aligned 
      | with your firm’s mission, so that security
      | can get out of the way and 
      strong enable the business to meet its goals securely
      | .

    p 
      | I don’t sell security products, equipment or implementation services.
      | This allows me to give you advice that is always 
      strong in your best interest.

    p Instead, I help you:
    ul
      li Take the lead on assessments.
      li Hire 
        strong the right people 
        | to perform regular security audits.
      li Inventory all of the services and things.
      li Architect systems using 
        strong security by design 
        | (and diagram them).
      li Support your engineering team.
      li Assess risks, threats and vulnerabilities.
      li 
        | Build systems and processes that make sure your code meets the required
        | security standards within a reasonable budget.
      li Implement feedback mechanisms so that you 
        strong trust but verify.

    h2 What you get

    p 
      | We go together over every aspect of the security and resilience of what's in scope. 
      | I suggest different possible strategies and we discuss them. We make a plan. 
      | Your team implements the plan, knowing that they can reach out to me whenever they need. 

    ul
      li A 
        strong weekly 1:1 advisory call
      li Private access to me for you and your team leads.
      li 
        strong Structured guidance 
        | to help you implement your security program.
      li Access to my library of frameworks, standards 
        |, baselines, procedures & document templates.
      li 
        strong Monthly KPI review 
        | calls to discuss progress and 
        strong results.

    h2 Who I've worked with
    
    p
      | My previous clients include technology firms such as:

    ul
      li
        | A 
        strong financial advisor 
        | app with a successful exit
      li 
        | An innovative ad 
        | exchange 
        | with a 
        strong successful exit
      li 
        | A leading 
        strong crypto exchange
      li 
        | A popular 
        strong stablecoin
      li An established 
        strong cybersecurity 
        | company
      li A global education network

    h2 Cost

    p 
      | Fees start at 
      strong US$5,000 
      | per month, with 3-month commitment periods. Spots are limited.

    h2 Payment terms

    p Prepaid and non-refundable. Via wire, ACH, 
      strong credit card, 
      strong BTC 
      | or 
      strong ETH. 

    h2 Testimonial

    blockquote
      p 
        | Jonathan is brilliant in a particular way I notice: He can take
        | complex knowledge and break it down into simple, understandable
        | language. He simplifies complexity and complexifies simplicity,
        | wherever the natural direction is for knowledge to become more
        | 'known', alive, shared. He listens with this skill as well, which
        | makes him able to focus and expand people simultaneously. 
        | It's a beautiful gift.

    blockquote 
      p 
        |Anybody can claim to be solution oriented, resourceful or creative. 
        | However, it doesn't mean much if you don't "get it" first. Getting
        | it means having the curiosity to understand the industry, the
        | clients, the technology, the risks, the deadlines, etc. This is a
        | necessity before channeling your thoughts and actions toward a
        | greater outcome.
      p 
        | Already in our first meetings, you can see the gears spinning in his
        | mind. That's how you know someone is invested, that they are thinking
        | instead of spitting out the latest buzzwords. It is such a relief to
        | work with the kind of people you can rely on. This is the very basis
        | of building a trust relationship.
      p To put it in simple words, well, Jonathan, he "gets it".

    h2 Book a free conversation

    p 
      | Do you think this might be right for you?
    
    p
      | Let’s talk.

    p
      //- | You can 
      a(href="https://savvycal.com/jonathandupre/chat") Choose a time
      | to discuss your situation in more detail.
