extends /layouts/default.pug

block content
  article
    p
      img.ba.bw05.w5#profile-picture(src="jonathandupre-profile.jpg")
    
    h2 Hi, I'm Jonathan.

    p
      ]It's June 2019 and I've been running 
      a.link.blue(href="https://diagonal.sh" target="_new") 
        | an application security consulting firm  
      
      | for a little over a year.

    p I’m a computer nerd turned designer turned software developer turned system administrator turned computer security guy. I'm curious and I like learning new things.

    p I live in Montreal (Canada) with the 

