extends /layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 Hello —

  article.lh-copy
    p.mt0.f4 I'm Jonathan, an independent information security advisor.
      br 
      | I help founders 
      strong establish a security program 
      |  aligned with industry standard frameworks, 
      | so that you can have peace of mind and focus on building a great product.

    p.f5 Subscribe below to a weekly email on protecting web3 organizations.

    #revue-embed
      form.flex.mv1(action="https://www.getrevue.co/profile/dupre/add_subscriber" 
        method="post" id="revue-form" name="revue-form" target="_blank")
        .revue-form-group
          input.h2.ph1#member_email.revue-form-field(
            placeholder="Your email address" type="email" name="member[email]")
        .revue-form-actions
          input.h2.input-reset.mh2.ph3.b--solid.pointer.b--blue.bg-blue.white(
            type="submit" value="Subscribe" name="member[subscribe]" id="member_submit")
