extends /layouts/default.pug

block content
  article
    p
      img.w5#profile-picture(src="jonathandupre-profile.png")
    
    h2 Hi, I'm Jonathan!

    p
    |I’m a software developer from Canada 🇨🇦. 
    br
    |I am currently working as a consultant through my company,  
    a.link.blue(href="https://diagonal.sh" target="_new") Diagonal
    |.

    p 
    |Web development is my primary focus, but I also really enjoy writing tools 
    |for other developers. 
