extends /layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 Hello —

  article.lh-copy
    p.mt0.f4 
      | I'm Jonathan, an independent information security advisor and educator.
      | I help startup teams 
      strong establish a security program 
      | aligned with industry standard frameworks, 
      | so that you can have peace of mind and focus on building a great product.

    div.mt4
      span.db.mv2.f5 Subscribe below to get updates and actionable insights.

      include ../components/email-form

    h2 Most recent posts

    div
      table
        tbody
        - routes.blog.sort((a,b) => new Date(b.date) - new Date(a.date))
          each post in routes.blog
            tr.lh-copy
              td.w4(style="vertical-align:top;") #{ post.date } &nbsp;
              td(style="vertical-align:top;")  
                a.link.ttc(href='/blog/' + post.slug)
                  |#{ post.title }