extends /layouts/default.pug

block content
  article
    p
      img.ba.bw05.w5#profile-picture(src="jonathandupre-profile.jpg")
    
    h2 Hi, I'm Jonathan!

    p
    |I’m a software developer from Canada 🇨🇦. 
    br
    |I run an application security consulting firm called 
    a.link.blue(href="https://diagonal.sh" target="_new") Diagonal
    |.
