extends /layouts/default.pug

block content
  article
    p
      img.ba.bw05.w5#profile-picture(src="jonathandupre-profile.jpg")
    
    h2 Hi, I'm Jonathan.

    p I’m a cybersecurity advisor from Canada 🇨🇦.
    p 
      |I run a boutique consulting firm called 
      a.link.blue(href="https://diagonal.sh" target="_new") 
        | Diagonal
      |.

