<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs', { title: 'Hello World' }) %>
  <%- include('../includes/nav.ejs') %>
  <body>
    <main>
      <h1>Devenir ce qu'on est appelé à être</h1>
      <p>
        J'écris à des hommes qui veulent une vie cohérente, sobre et exigeante. 
        Vous recevrez un courriel de temps en temps. Pas de spam. Désinscription facile.
        <a href="#">M'abonner</a>
      </p>

    </main>
    <%- include('../includes/footer.ejs') %>
  </body>
</html>
