extends /templates/layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 Hi — I'm Jonathan. 

  section
    article.lh-copy
      p.mt0.f4 
        | I'm a creative technologist who likes to understand how systems work.
        | I specialize in helping startups ship secure software. 

  section.mv4
    div.ph2.ph3-ns.ba.bw1.b--moon-gray.bw1
      p.lh-copy
        | I write every week about computing, web security, and software design.
      div.mv3
        include /templates/components/email-form

  section
    h2 Blog posts

    div
      table.f6
        tbody
        - routes.blog.sort((a,b) => new Date(b.date) - new Date(a.date))
          each post in routes.blog
            tr.lh-copy
              //- td.pv2.tr(style="vertical-align:top; white-space: nowrap;")
              //-   span #{ post.date } &#8194;
              td.pv2(style="vertical-align:top;")  
                a.link(href='/blog/' + post.slug)
                  |#{ post.title }
