extends /layouts/default.pug

block content
  header.flex.justify-center.flex-auto
    .container
      h1 Hello —

  section
    article.lh-copy
      p.mt0.f4 
        | I'm Jonathan, an independent cybersecurity consultant.
        | I help software teams 
        strong reduce risk, increase trust, and maintain compliance 
        |  —without slowing down development.

  section.mv4
    div.ph2.ph3-ns.ba.bw1.b--moon-gray.bw1
      p.lh-copy
        | Subscribe below to get actionable insights on security strategy.
      div.mv3
        include ../components/email-form

  section
    h2 Most recent posts

    div
      table.f6
        tbody
        - routes.blog.sort((a,b) => new Date(b.date) - new Date(a.date))
          each post in routes.blog
            tr.lh-copy
              td.pv2.tr(style="vertical-align:top; white-space: nowrap;")
                span #{ post.date } &#8194;
              td.pv2(style="vertical-align:top;")  
                a.link.ttc(href='/blog/' + post.slug)
                  |#{ post.title }