extends /layouts/default.pug

block content
  h1 Resources

  h2 Curated Content

  ul.lh-copy
    li.lh-copy.mb3.mb0-ns
      a.link.ttc(href="/resources/ctf-challenge-design")
        | CTF challenge design
      span : A curated list of resources about security CTF and wargame challenge design.
    li.lh-copy.mb3.mb0-ns
      a.link.ttc(href="/resources/web3-security")
        | Web3 Security
      span : A curated list of resources about web3 security

  h2 Spreadsheets

  ul.lh-copy
    li.lh-copy.mb3.mb0-ns
      a.link.ttc(target="_new" href="https://docs.google.com/spreadsheets/d/1Y_VjjxP_vHf8oBYviWTUrZQv1PsyuFUOcEAcm99msVw/edit?usp=sharing")
        | Startup Security Register Template
      span : A spreadsheet you can use to manage every aspect of your security program.
    li.lh-copy.mb3.mb0-ns
      a.link.ttc(
        target="_new" 
        href="https://docs.google.com/spreadsheets/d/1K7msQt-Asse6rx0nnUW-6Hm_-EfQMeWp3B5aSkzbqg8/edit\#gid=0") 
        | 2021 DeFi Hacks 
      span A compilation of over 100 major hacks with their financial impact and links to an article describing it. 