extends /layouts/default.pug

block content
  h1 Resources
  
  h2 Google Sheets

  ul.lh-copy.list
    li
      |📜 
      a(target="_new" href="https://docs.google.com/spreadsheets/d/1Y_VjjxP_vHf8oBYviWTUrZQv1PsyuFUOcEAcm99msVw/edit?usp=sharing")
        | Startup Security Register
    li
      |📜 
      a(target="_new" href="https://docs.google.com/spreadsheets/d/1c6b0VQOBlw6KYwVS7Y-0AcjJCjz2JFImx8F5t1ZPL0A/edit?usp=sharing")
        | Web3 Security Ecosystem (Vendors and Places)
    li
      |📜 
      a(target="_new" href="https://docs.google.com/spreadsheets/d/1K7msQt-Asse6rx0nnUW-6Hm_-EfQMeWp3B5aSkzbqg8/edit#gid=0")
        | 2021 Compilation of 100+ Hacks w/ $ Loss
