main.flex.justify-center.flex-auto.pv3
  .container.flex-auto
    block content
      p.tc.mt5
        | As of Wednesday afternoon (EST), June 30th 2019, 
        | this website is still under construction!
