section.mt4.ba.pa3.bw1.b--moon-gray.f5.lh-copy
  h1.f4.mt0 I hope you found this valuable
  p.mt0 
    | I send out an e-mail whenever I publish new content. 
    | It's free. No spam. Unsubscribe whenever you want.

  include email-form
