footer.flex.justify-center.mt5.pt3.pb4.pv4-ns.black-70
  .container.flex.flex-column
    ul.pl0.list.flex.justify-center.f7.w-100
      li.mh2
        a.link(href="mailto:%68%65%6c%6c%6f%40%6a%6f%6e%61%74%68%61%6e%64%75%70%72%65%2e%63%6f%6d") Email
      li.mh2
        a.link(href="https://twitter.com/Jonathan_Dupre" target="_new") Twitter
      li.mh2
        a.link(href="https://linkedin.com/in/jonathandupre" target="_new") LinkedIn
      li.mh2
        a.link(href="https://github.com/kareniel" target="_new") GitHub
      li.mh2
        a.link(href="/atom" target="_new") RSS
    div.f7.db.flex.flex-row.justify-center
      p © 2012-2022 Jonathan Dupré
