nav.flex.justify-center.pt2.ph2
  .container.flex.flex-column.flex-row-ns.justify-between.items-start.w-100
    .w-100.tc.tl-ns.pv1
      a.link.black.f7.mv2(href="/")
        span.dib.dn-m Jonathan&nbsp;
        span Dupré

    //- Desktop
    ul.pl0.menu.list.items-center.justify-end.mv2.mh1.mr2.dn.flex-ns
      each item in navbar.items
        li.pl1.pl2-m.pl3-l.f7.tr
          a.link(href=item.route) 
            | #{ item.name }

    //- Mobile
    ol.flex.flex-column.lh-copy.w-50.mt2.mb0.dn-ns.pv1
      each item in navbar.items
        li.f7.mb2
          a.link(href=item.route) 
            | #{ item.name }
