<head>
    <title><%= typeof title !== 'undefined' ? title : 'Jonathan Dupré' %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="author" property="og:author" content="Jonathan Dupré">
    <meta name="description" property="og:description" content="Réflexions philosophiques sur l'expérience humaine et la nature de la réalité">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>
