<nav class="flex justify-center pt2 ph2">
    <div class="container flex flex-column flex-row-ns justify-between items-start w-100">
        <div class="w-100 tc tl-ns pv1">
            <a class="link black f7 mv2" href="/">
                <span class="dib dn-m">Jonathan&nbsp;</span>
                <span>Dupré</span>
            </a>
        </div>
        <ul class="w-100 pl0 menu list items-center justify-end mv2 mh1 mr2 dn flex-ns">
            <li class="pl1 pl2-m pl3-l f7 tr">
                <a class="link" href="/reflexions">Réflexions</a>
            </li>
            <li class="pl1 pl2-m pl3-l f7 tr">
                <a class="link" href="/contact">Contact</a>
            </li>
        </ul>
        <ol class="flex flex-column lh-copy w-50 mt2 mb0 dn-ns pv1">
            <li class="f7 mb2">
                <a class="link" href="/reflexions">Réflexions</a>
            </li>
            <li class="f7 mb2">
                <a class="link" href="/contact">Contact</a>
            </li>
        </ol>
    </div>
</nav>
