<form class="mt3">
  <input type="email" placeholder="Votre courriel" class="b--solid br1 ph2 pv2 f5" required>
  <button type="submit" class="bg-blue white b--blue br1 ph3 pv2 pointer f5 ml2">M'abonner</button>
</form>
